.content-text{
	padding: 0 10px;
}

.content-blocks{
	justify-content: space-between;
}

.content-blocks .flex-item{
	max-width: 360px;
	padding: 5px;
	border: 1px solid #ebebeb;
	min-width: 240px;
}

.content-blocks .flex-item .img{
	height: 200px;
	display: flex;
}

.content-blocks .flex-item .img img{
	object-fit: contain;
	margin: auto;
	align-self: middle;
	max-width: 100%;
	max-height: 100%;
}

@media(max-width: 750px){
	.content-blocks{
		flex-direction: column;
		align-items: center;
	}
}